<div class="container">
  <h1 id="greeting">Welcome to Task Manager</h1>
  <p class="lead">The one-of-a-kind Sinatra app that allows you to <strong>C</strong>reate,
    <strong>R</strong>ead, <strong>U</strong>pdate and <strong>D</strong>elete tasks</p>
</div>
