<div class="container">
  <h1>Welcome to Task Manager</h1>
  <p class="lead">The one-of-a-kind Sinatra app that allows you to <strong>C</strong>reate
    and <strong>R</strong>ead tasks. Coming soon: <strong>U</strong>pdate
    existing tasks, <strong>D</strong>elete tasks</p>
</div>
