<div class="container">
  <h1>Create Task <small>Fill out the form below</small></h1>
    <div class="well">
      <form action="/tasks" method="post">
        <div class="form-group">
          <label for="taskTitle">Title</label><br>
          <input type='text' name='task[title]' id="taskTitle"/><br/>
          <label for="taskDescription">Description</label>
          <textarea class="form-control" rows="3" name='task[description]' id="taskDescription"></textarea><br/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
